<h1>Questionsの一覧</h1>
<table>
  <tr>
    <th>title</th>
    <th>content</th>
    <th>id</th>
    <th>link</th>
  </tr>
  <%= @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.content %></td>
    <td><%= question.id %></td>
    <td><%= link_to 'show' ,question_path(question) %></td>
    <td><%= link_to 'edit' ,edit_question_path(question) %></td>
    <td><%= link_to 'destroy' ,question_path(question), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>
