<h1>Questionsの表示</h1>
  <p>
    <text>title:</text>
    <%= @question.title %>
  </p>
  <p>
    <text>content:</text>
    <%= @question.content %>
  </p>

<h2>回答一覧</h2>
<%= @question.answers.each do | answer | %>
  <p>
    <text>conten:</text>
    <%= answer.content %>
  </p>
  <p>
    <%= link_to 'Destroy Answer' ,[answer.question, answer],
      data:{ turbo_method: 'delete', turbo_confirm:'Are you sure?'} %>
  </p>
<% end %>



<h2>回答の追加</h2>
  <%= form_with model: [@question, @question.answers.build] do | form | %>
  <p>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </p>
  <p>
  <%= form.submit %>
  </p>
  <% end %>